.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
}

.value {
  font-size: 1.125rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #0d0d0d;
}

.timestamp {
  font-size: 0.875rem;
  font-family: "Inter", sans-serif;
  color: #888888;
  font-weight: 400;
}
